<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="img/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        
                        <h1>Shop easily.</h1>
                        <p>Shopping online was never easier</p>
                        <a href="<%=shop_path%>" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="img/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                 
                        <h1>All you need in one place.</h1>
                        <p>Many categories and brands , different sellers , best prices and high quality</p>
                        <a href="<%=shop_path%>" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<div>
    <div class="container-fluid">
        <div class="row">
        <% if @categories.length >=3 %>
            <div class="col-lg-4">
                <div class="single-banner">
                    <div class="inner-text">
                        <h4><%=@categories[0].name%></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <div class="inner-text">
                        <h4><%=@categories[1].name%></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <div class="inner-text">
                        <h4><%=@categories[2].name%></h4>
                    </div>
                </div>
            </div>
        </div>
        <%end%>
    </div>
</div>
<!-- Banner Section End -->
<!-- Women Banner Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
           
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                   <h4>More categories</h4>
                </div>
                
                <div class="product-slider owl-carousel ">
                    <%if @categories.length > 0%>
                        <%@categories.each do |cat|%>
                            <div class="product-item">
                                <div class="pi-text">
                                    <div class="catagory-name">Visit</div>
                                    <a href="<%=shop_path+'?cat='+cat.id.to_s%>">
                                        <h5><%=cat.name%></h5>
                                    </a>
                                    <div class="product-price">
                                        go
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Women Banner Section End -->

<!-- Deal Of The Week Section Begin-->
<section class="deal-of-week set-bg spad" data-setbg="img/time-bg.jpg">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>Start filling you cart !!</h2>
                <p>Once you logout you are able to add whatever you want to the cart and checkout whenever you want </p>
                <div class="product-price">
                   Best price
                    <span>/ best quality</span>
                </div>
            </div>
            <div class="countdown-timer" >
                <div class="cd-item">
                    <span><%=@categories.length%> </span>
                </div>
                <div class="cd-item">
                    <span>Categories available</span>
                   
                </div>
            </div>
           <a href="<%=shop_path%>" class="primary-btn">Shop Now</a>
        </div>
    </div>
</section>
<!-- Deal Of The Week Section End -->

<!-- Man Banner Section End -->

<!-- Instagram Section Begin -->
<div class="instagram-photo">
    <div class="insta-item set-bg" data-setbg="img/insta-1.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#"></a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-2.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#"></a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-3.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#"></a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-4.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#"></a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-5.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#"></a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-6.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#"></a></h5>
        </div>
    </div>
</div>
<!-- Instagram Section End -->