<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Commerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'app'%>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href=<%=root_path%>>
                                <img src="/img/logo.jpeg" alt="">
                            </a>
                        </div>
                    </div>
                   
                    <div class="col-lg-3 text-right col-md-3 offset-7">
                        <ul class="nav-right">
                            <li>
                            <% if user_signed_in? %>
                                <img class="mr-3" src="<%= ( current_user.avatar.nil? || current_user.avatar.to_s.end_with?('path/to/image')) ? "/img/product-default.png" : current_user.avatar  %>" alt="<%= current_user.name %>" width="50px">
                                <span><%= current_user.name%></span>
                            <%end%>
                            </li>
                            <li class="cart-icon" style="font-size:1.5rem;">
                                <a href="<%=cart_path%>" class="text-warning">
                                    <i class="icon_bag_alt"></i>
                                    Cart
                                </a>
                                  <a href="<%=checkout_path%>" class="text-warning ml-3">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                    Checkout
                                </a>
                                </div>
                              
                                </div>

                            </li>
                           
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All departments</span>
                        <ul class="depart-hover">
                        <%@categories.each do |cat|%>
                            <li><a href="<%=shop_path+"?cat="+cat.id.to_s%>"><%=cat.name%> </a></li>
                        <%end%>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu ">
                    <ul>
                        <li><a href="<%=root_path%>">Home</a></li>
                        <li><a href="<%=shop_path%>">Shop</a></li>
                        <%if user_signed_in? %>
                            <li><a href="<%=order_path%>">Orders</a></li>
                            <li><%= link_to 'Logout', destroy_user_session_path %></li>
                        <% elsif  admin_user_signed_in? %>
                            <li><a href="<%= admin_dashboard_path %>">Admin</a></li>
                              <%if current_admin_user.get_role == 'seller' %>
                                    <li><a href="<%= stores_path %>">Control Store</a></li>
                                    <li><%= link_to 'Logout', destroy_admin_user_session_path %></li>

                              <%end%>

                        <%else%>
                            <li><a href="<%= admin_dashboard_path %>">Admin</a></li>
                             <li><a href="<%=new_user_session_path%>">Login</a></li>
                             <!-- <li><a href="<%=new_user_registration_path%>">Register</a></li> -->
                        <%end%>
                    
                    </ul>
                    <% if !user_signed_in? && !admin_user_signed_in? %>
                    <div class="dropdown register-menu nav-menu">
                        <li ><a class="btn  btn-outline-dark text-white dropdown-toggle register-btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            Register
                          </a> <div class="dropdown-menu bg-dark text-warning" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-warning" href="<%= new_admin_user_registration_path %>">Admin / Seller</a>
                            <a class="dropdown-item text-warning" href="<%= new_user_registration_path %>">Buyer</a>
 
                          </div></li>
                      </div>
                      <% end %>
                    
                    
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <%= yield %>

    
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="/img/logo.jpeg" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello.colorlib@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Serivius</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>My Account</h5>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Shopping Cart</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery.dd.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/table.js"></script>
    <%= yield :js %>
</body>

</html>